.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 2rem;
}

.wrapper>div:first-child {
  width: 240px;
}


.wrapper>div:last-child {
  width: 100%;
}

@media (max-width: 600px) {
  .wrapper {
    display: grid;
  }
  .wrapper>div:first-child {
    width: 100%;
  }
}